<div class="gommiForm">
  <%= form_with(model: gommi, local: true) do |form| %>
    <% if gommi.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gommi.errors.count, "error") %> prohibited this gommi from being saved:</h2>

        <ul>
        <% gommi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="forms">
  <div class="field">
    <%= form.text_field :title, placeholder: "たいとる", class: 'title_textfield textfield'%>
  </div>

  <div class="field">
    <%= form.text_area :explanation, placeholder: "くわしくかきたかったらどうぞ", class: 'explanation_textfield textfield'%>
  </div>

  <div class="field">
    <%= form.select :kind, [["音楽", "音楽"], ["小説","小説"],["読書","読書"],["読書","読書"],["読書","読書"]],prompt: "しゅるいをせんたくしてね", class: 'kind_textfield textfield' %>
  </div>

</div>

    <div class="actions">
      <%= button_tag type: :submit do %>
        <%= image_tag "flowedBin.png",style: "z-index: 1000000;" %>
      <% end %>
      <!-- <%= image_submit_tag "flowedBin.png" %> -->
    </div>
  <% end %>

</div>
