<div class="gommiForm">
  <%= form_with(model: gommi, local: true) do |form| %>
    <% if gommi.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gommi.errors.count, "error") %> prohibited this gommi from being saved:</h2>

        <ul>
        <% gommi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="forms">
  <div class="field">
    <%= form.text_field :title, placeholder: "たいとる", class: 'title_textfield textfield'%>
  </div>

  <div class="field">
    <%= form.text_area :explanation, placeholder: "くわしくかきたかったらどうぞ", class: 'explanation_textfield textfield'%>
  </div>

  <div class="field">
    <%= form.select :kind, [["芸術", "芸術"],["サービス","サービス"],["ゲーム","ゲーム"],["レシピ","レシピ"]], prompt: "しゅるいをせんたくしてね", class: 'kind_textfield textfield' %>
  </div>

</div>

    <div class="actions">
      <%= image_submit_tag "binButton.png", style: "position: absolute; left: 73%; top: 65%; onmouseover: \"this.style.width=19%\"", id: "binButton" %>
    </div>
  <% end %>

</div>
