<div class="show">
  <div class="onPaper">
    <%=image_tag("/assets/paper.png", style: "width:100%; z-index: -1")%>
    <div class="moji">
      <p class="title">
        <%= @gommi.title %>
      </p>

      <p class="explanation">
        <%= @gommi.explanation %>
      </p>

      <p class="kind">
        <%= @gommi.kind %>
      </p>
    </div>
  </div>


  <!-- <%= link_to 'Edit', edit_gommi_path(@gommi) %> |
  <%= link_to 'Back', gommis_path %> -->
  <%= link_to image_tag("/assets/binButton.png"), gommis_pick_path %>
</div>

<%= image_tag(src = "/assets/sunahama.png", style: "position: absolute; left: 0px; bottom: 0px; width: 100%; z-index: -1", id:"stone")%>
